<footer>
	<div class="inner-col">
		<h2 class="footer-logo"><a href="https://yanadoo.co.kr/" class="logo"><img src="https://yafit.yanadoocdn.com/logo/yanadoo_logo_1.png" alt="야나두"></a></h2>
		<div class="footer-nav-menu">
			<dl>
				<dt>고객센터</dt>
				<dd><a href="https://yanadoo.co.kr/service/center">고객센터 바로가기</a></dd>
				<dd><a href="https://yanadoo.co.kr/service/faq/all/1"><span>자주 묻는 질문</span></a></dd>
				<dd><a href="https://yanadoo.co.kr/?myInquiry"><span>1:1 문의하기</span></a></dd>
			</dl>
			<dl>
				<dt>카카오톡 상담</dt>
				<dd><a href="https://pf.kakao.com/_emuvj" target="_blank">@야핏 친구추가</a></dd>
			</dl>
			<dl>
				<dt>제휴 및 단체수강 문의</dt>
				<dd><a href="https://yanadoo.co.kr/promotion/b2bLanding"><span>B2B 및 단체수강 소개</span></a></dd>
				<dd><a href="https://yanadoo.co.kr/?partnershipInquiry"><span>제휴문의</span></a></dd>
				<dd><a href="https://yanadoo.co.kr/?courseInquiry"><span>단체 수강 문의</span></a></dd>
			</dl>
		</div>
		<div class="footer-info"><strong>무엇을 도와드릴까요?</strong><a href="tel:1600-0563" class="tel">1600.0563</a><span>평일 : 09:00 ~ 18:00</span><span>점심시간 : 12:00 ~ 13:00</span></div>
		<div class="footer-link-area">
			<div class="link-lists">
				<a href="https://apps.apple.com/kr/app/id1545299028" target="_blank"><img src="https://english.yanadoocdn.com/upload/yanadoo/new/common/ico_ios_download_70x70.png" alt="아이폰 앱 다운로드"></a>
				<a href="https://play.google.com/store/apps/details?id=com.yafit.cycle&pli=1" target="_blank"><img src="https://english.yanadoocdn.com/upload/yanadoo/new/common/ico_android_download_70x70.png" alt="안드로이드 앱 다운로드"></a></div>
			<div class="link-lists">

				<a href="https://www.instagram.com/yafit_official" target="_blank"><img src="https://yafitcdn.yanadoo.co.kr/yanadoo/images/web/layout/ico_instagram_70x70.png" alt="인스타그램"></a>
				<a href="https://www.youtube.com/@yafit_videos/featured" target="_blank"><img src="https://yafitcdn.yanadoo.co.kr/yanadoo/images/web/layout/ico_youtube_70x70.png" alt="유튜브"></a>
				<a href="https://www.tiktok.com/@yafit_official" target="_blank"><img src="https://yafitcdn.yanadoo.co.kr/yanadoo/images/web/layout/ico_tiktok_70x70.png" alt="틱톡"></a>
				<a href="https://www.facebook.com/yanadoofit" target="_blank"><img src="https://english.yanadoocdn.com/upload/yanadoo/new/common/ico_facebook_70x70.png" alt="페이스북"></a>
				<a href="https://cafe.naver.com/yanadoofit" target="_blank"><img src="https://yafitcdn.yanadoo.co.kr/yanadoo/images/web/layout/ico_naver_cafe_70x70.png" alt="네이버 카페"></a>
				<a href="https://band.us/band/81999063" target="_blank"><img src="https://english.yanadoocdn.com/upload/yanadoo/new/common/ico_band_70x70.png" alt="네이버밴드"></a>
				<a href="https://blog.naver.com/yafit-official" target="_blank"><img src="https://english.yanadoocdn.com/upload/yanadoo/new/common/ico_blog_70x70.png" alt="네이버블로그"></a>
				<a href=" https://post.naver.com/yafit-official" target="_blank"><img src="https://english.yanadoocdn.com/upload/yanadoo/new/common/ico_naver_post_70x70.png" alt="네이버포스트"></a></div>
		</div><select name="footerSelect" id="footerSelect" onchange="if (this.value) window.location.href=this.value">
		<option value="#;">Related Sites</option>
		<option value="https://www.yanadookids.com/">야나두 키즈</option>
		<option value="https://www.yanadookidsmall.com/">야나두 키즈몰</option>
	</select>
		<div class="footer-utility">
			<a href="https://yanadoo.co.kr/promotion/company">회사소개</a>
			<a href="https://yanadoo.career.greetinghr.com" target="_blank">야나두 채용</a>
			<a href="https://yanadoo.co.kr/promotion/yanadooInfo">야나두 서비스 소개</a>
			<a href="https://yanadoo.co.kr/service/YAFIT_CYCLE/service">이용약관</a>
			<a href="https://yanadoo.co.kr/service/YAFIT_CYCLE/privacy_policy"><span>개인정보처리방침</span></a>
			<a href="https://yanadoo.co.kr/service/official/1">공고사항</a><br><br>
		</div>
		<address>
			<p>주식회사 야나두 (야나두 원격평생교육원)</p>
			<p>사업자등록번호 129-86-23477 · 통신판매업 신고번호 제2018-서울강남-02139호</p>
			<p>대표 김정수, 김민철 · 개인정보보호 책임자 허우용</p>
			<p>주소 서울시 강남구 영동대로 96길 26, 3, 4층 (삼성동, Place 1)</p>
			<p>원격 평생교육 시설신고 서울특별시 강남 서초교육지원청 (제 원516호)</p>
		</address>
		<p class="footer-notice">(주)야나두는 통신판매중개자로서 야나두 사이트의 야나두와 야핏 이용권을 제외하면 거래 당사자가 아니며,<br />입점판매자가 등록한 상품정보 및 거래에 대해 (주)야나두는 일체 책임을 지지 않습니다.</p>
	</div>
</footer>
